@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.main {
  margin-top: 50px;
  min-height: 100vh;
}

/*BARRA DE NAVEGACION*/
/* FOOTER */
.footer {
  background-color: black;
  color: white;
  padding: 2rem 1rem;
}

.footer__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__lista {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  border-top: 3px solid white;
  padding: 1rem 0;
  gap: 1rem;
}

.footer__item {
  font-size: 2rem;
  color: white;
}

.footer__titulo {
  font-size: 1rem;
}

/*PAGINA PRINCIPAL*/
.inicio {
  height: 100vh;
  max-width: 100%;
  background-image: url(../imagenes/tostadora.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  font-family: 'Montserrat', sans-serif;
}

.contenedor {
  grid-column: 3/10;
  grid-row: 2/7;
  text-align: center;
}

.contenedor__titulo {
  text-align: center;
  font-size: 3rem;
  color: goldenrod;
  font-family: 'Rubik Mono One', sans-serif;
}

.contenedor__h2 {
  font-size: 2rem;
  margin-top: 10px;
  font-family: 'Rubik Mono One', sans-serif;
}

.contenedor__parrafo {
  color: white;
  margin-top: 20px;
  font-size: 1rem;
}

.contenedor__boton {
  font-size: 1.5rem;
  padding: 10px 15px;
  background: none;
  color: white;
  border: 1px solid goldenrod;
  border-radius: 30px;
  margin-top: 10px;
}

.contenedor__boton:hover {
  background-color: goldenrod;
}

/* ANIMISTA Animation*/
.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* Aca empieza la Pagina Sobre Mi"*/
.bootstrap2 {
  background-color: goldenrod;
  padding-top: 2rem;
}

.bootstrap2__titulo {
  font-size: 25px;
}

.bootstrap2__img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  margin-bottom: 3rem;
}

.bootstrap3 {
  padding-top: 2rem;
}

.bootstrap3__titulo {
  text-align: center;
}

.contenedor-cuadrados {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cuadrado-1 {
  background-color: black;
  width: 300px;
  height: 250px;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: goldenrod;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
}

.cuadrado-2 {
  background-color: black;
  width: 300px;
  height: 250px;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: goldenrod;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
}

.cuadrado-3 {
  background-color: black;
  width: 300px;
  height: 250px;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: goldenrod;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
}

.cuadrado-4 {
  background-color: black;
  width: 300px;
  height: 250px;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: goldenrod;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
}

.cuadrado-5 {
  background-color: black;
  width: 300px;
  height: 250px;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: goldenrod;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
}

.cuadrado-6 {
  background-color: black;
  width: 300px;
  height: 250px;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: goldenrod;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
}

/*Srvicios*/
.servicios {
  background-color: #f9f3f3;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.servicios__caja {
  width: auto;
  height: 400px;
  background-color: black;
  display: inline-block;
  color: white;
}

.bootstrapServicios {
  background-color: black;
  padding: 1rem 0;
  margin: 1rem 0;
  color: white;
}

.bootstrapServicios__titulo {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  color: goldenrod;
}

.bootstrapServicios__parrafo {
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
}

.icon {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.carousel-item img {
  object-fit: cover;
}

/*Diseños*/
.galeriaContenedor {
  padding: auto;
}

.propiedades-diseño {
  color: black;
  text-align: center;
  background-color: #f6f0ea;
}

.galeria-contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  padding: 40px;
  gap: 40px;
}

.galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 300ms;
  position: relative;
}

.galeria__img:hover {
  transform: scale(1.15);
}

.galeria__item {
  position: relative;
}

.galeria__titulo {
  position: absolute;
  bottom: 0;
  color: white;
  margin: 0;
  padding: 10px;
  background-color: linear-gradient(rgba(255, 255, 255, 0), black);
  width: 100%;
}

.galeria__item:nth-child() {
  grid-column-start: span 2;
}

/*CONTACTO*/
.contenedorContacto {
  width: 90%;
  max-width: 1000px;
  background: #fff;
  padding: 40px;
  margin: 20px auto;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, #ffc541, #f9cb5e, #f3d078, #eed491, #e9d8a9);
}

.contenedorContacto h1 {
  font-family: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
  color: whitesmoke;
  flex-direction: row;
}

.contenido {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: row;
}

.contenido .info
.contenido .formulario {
  width: 50%;
}

.info {
  padding-left: 10px;
}

.info .col {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  font-size: 16px;
  align-items: center;
  flex-wrap: nowrap;
}

.info .col .icono {
  color: goldenrod;
  margin-right: 10px;
  font-size: 1rem;
}

.info .col p {
  font-size: 20px;
  color: whitesmoke;
}

.info .redes-s {
  width: 100%;
  overflow: hidden;
  padding-left: 25px;
  display: flex;
  flex-wrap: wrap;
}

.info .redes-s a {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: goldenrod;
  color: #fff;
  margin: 5px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
}

.info .redes-s a:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
  background-color: black;
}

.formulario {
  padding-left: 10px;
}

.formulario__item {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 20px;
  border: 1px solid #999;
  font-weight: 400;
  outline: 0;
}

.formulario__item--textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 200px;
  max-height: 250px;
}

.formulario__item:focus {
  border: 2px solid goldenrod;
}

.formulario__enviar {
  background-color: goldenrod;
  width: 100%;
  padding: 12px 30px;
  border: transparent;
  cursor: pointer;
}

/* BOTON DE WHATSAPP*/
.whathsapp {
  background-color: green;
  color: white;
  width: 100px;
  padding: 0.5rem 1rem;
  text-align: center;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

/*Medias Querys*/
@media screen and (max-width: 599px) {
  /* Pagina Pricipal*/
  .contenedor {
    text-align: start;
    grid-column: 2/9;
    grid-row: 1/6;
  }
  .contenedor__titulo {
    font-size: 2rem;
    padding-top: 20px;
  }
  /*Galeria Diseños*/
  .galeria-contenedor {
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
  }
  /* Contacto */
  .contenido {
    flex-direction: column;
  }
  .contenedorContacto {
    padding: 15px;
    margin: 10px auto;
  }
  .info .col p {
    font-size: 16px;
    color: whitesmoke;
  }
  /* Servicios */
  .servicios__titulo {
    font-size: 20px;
    text-align: center;
  }
  .servicios__parrafo {
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
  }
}
