*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
    
}
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(../imagenes/Curve-Line3.svg);
    
}
.main{
    margin-top: 50px;
    min-height: 100vh;}
