/*CONTACTO*/
// .main__contacto{
//     background-image: linear-gradient(to bottom, #ffc541, #f9cb5e, #f3d078, #eed491, #e9d8a9);
//     height: 100vh;
// }

.contenedorContacto{
    width: 90%;
    max-width: 1000px;
    background: #fff;
    padding:40px;
    margin: 20px auto;
    box-shadow: 0px 1px 2px rgba(0,0,0,.5);
    background-image: linear-gradient(to bottom, #ffc541, #f9cb5e, #f3d078, #eed491, #e9d8a9);
   
}
.contenedorContacto h1{
    font-family: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    color: whitesmoke;
    flex-direction: row;
}
.contenido{
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: row;
}
.contenido .info
.contenido .formulario{
    width: 50%;
}
.info{
    padding-left: 10px;
}
.info .col{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    font-size: 16px;
    align-items: center;
    flex-wrap: nowrap;
  
}
.info .col .icono{
    color:$colorPrincipal;
    margin-right: 10px;
    font-size: 1rem;
}
.info .col p{
    font-size: 20px;
    color: whitesmoke;

}
.info .redes-s{
    width: 100%;
    overflow: hidden;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
}
.info .redes-s a{
    display: flex;
    width: 40px;
    height:40px ;
    background-color:$colorPrincipal ;
    color: #fff;
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px rgba(0,0,0,.4)

}
.info .redes-s a:hover{

    box-shadow: 0px 3px 8px rgba(0,0,0,.4);
    background-color: black;
    
}
.formulario{
    padding-left: 10px;
}
.formulario__item{
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 20px;
    border: 1px solid #999;
    font-weight: 400;
    outline: 0;
}
.formulario__item--textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    max-height: 250px;
}
.formulario__item:focus{
    border: 2px solid $colorPrincipal;
}
.formulario__enviar{
    background-color:$colorPrincipal;
    width: 100%;
    padding: 12px 30px;
    border: transparent;
    cursor: pointer;
    }
    // .contenedorContacto{
    //     display: inline-block;
    // }