/* FOOTER */
.footer{
    background-color:black ;
    color: white;
    padding: 2rem 1rem;

    
}
.footer__flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer__lista{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    border-top: 3px solid white;
    padding: 1rem 0;
    gap: 1rem;
    
    
}


.footer__item{
   font-size: 2rem;
   color: white;
}
.footer__titulo{
font-size: 1rem;
}