/* FOOTER */
.footer{
    background-color:$colorPrincipal ;
    color: $colorTexto;
    padding: 2rem 1rem;

    &__flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
&__lista{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    border-top:$colorTexto 3px solid;
    padding: 1rem 0;
    gap: 1rem;
       
}
&__item{
   font-size: 2rem;
   color:$colorTexto;
}
&__titulo{
font-size: 1rem;

}
}



