/*PAGINA PRINCIPAL*/
.inicio{
    height: 100vh;
    max-width: 100%;
    background-color:$colorFondo;
    background-size: cover;
    
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    
    font-family: 'Montserrat', sans-serif;


}
.contenedor{
    grid-column: 2/10 ;
    grid-row: 2/7;
    text-align: center;
}
.contenedor__titulo{
   text-align: center;
   font-size: 3rem;
   color: $colorPrincipal;
   font-family: 'Rubik Mono One', sans-serif;
  
}
.contenedor__h2{
    font-size: 2rem;
    margin-top: 10px;
    font-family: 'Rubik Mono One', sans-serif;
    color: $colorTexto;
}
.contenedor__h3{
    font-size: 2rem;
    margin-top: 10px;
    font-family: 'Rubik Mono One', sans-serif;
    color: $colorPrincipal;
}


.contenedor__parrafo{
    color:$colorTexto;
    margin-top: 20px;
    font-size: 20px;
}
.contenedor__boton{
    background-color: $colorTexto;
    font-size: 1.5rem;
    padding: 10px 15px;
   
    color: white;
    border:$colorTexto 1px solid ;
    border-radius: 30px;
    margin-top: 10px;
}
.contenedor__boton:hover{
    background-color: $colorPrincipal;
}



/* ANIMISTA Animation*/
.tracking-in-expand {
animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}